@use '../vars' as *;
@use './Format.module' as format;

$header-height: 40px;
$horizontal-gap: 40px;
$match-width: 200px;
$match-gap: 15px;

.bracket {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

.inner-column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 1;
}

.full-width-column {
  flex-basis: $match-width + 2 * $horizontal-gap;
}

.bracket-lines-column {
  flex-grow: 1;
  min-width: $horizontal-gap;
  padding-top: $header-height;
}

.column-header {
  width: 100%;
  height: 2em;
  margin-bottom: calc($header-height - 2em);
  background: $bg-color-lighter;
  line-height: 1em;
  font-size: 1rem;
  text-align: center;
  padding-top: 0.5rem;
  border-radius: $border-radius;
}

.match {
  outline: 1px solid $border-color;
  border-radius: $border-radius;
  background: $bg-color-lighter;
  margin: $match-gap / 2 0;
}

.bracket-lines {
  display: flex;
  align-items: center;
  width: 100%;
  flex-grow: 2;
  flex-basis: 2px;

  > * {
    flex-basis: 0;
    flex-grow: 1;
  }
}

.outgoing-lines {
  border: 1px solid $border-color;
  border-left: 0;
  height: 100%;
}

.bracket-gap {
  flex-grow: 2;
  flex-basis: 0;
}

.bracket-end-gap {
  flex-grow: 1;
  flex-basis: 0;
}

.bracket-lines hr,
.match hr,
.bracket-lines-column hr {
  border: none;
  height: 1px;
  background: $border-color;
  margin: 0;
}

.qualified {
  background: $bg-color-lighter;
  height: format.$team-height-big;
  width: $match-width;
  border-radius: $border-radius;
  outline: 1px solid $border-color;

  &.has-team {
    background: $bg-color-lighter-green;
    outline: 2px solid $border-color-green;
  }
}

.playoffs {
  min-width: min(100vw - (2 * $root-padding), 1000px);
  min-height: min(100vh, 500px);
}
