@use '../vars' as *;

$header-height: 40px;
$horizontal-gap: 40px;
$match-width: 200px;

.column {
  display: flex;
  flex-direction: column;
}

.inner-column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 1;
}

.match-column {
  width: $match-width;
}

.bracket-lines-column {
  width: 100%;
  padding-top: $header-height;
}

.column-header {
  width: 100%;
  height: 2em;
  margin-bottom: calc($header-height - 2em);
  background: $bg-color-lighter;
  line-height: 1em;
  font-size: 1rem;
  text-align: center;
  padding-top: 0.5rem;
  border-radius: $border-radius;
}

.match {
  outline: 1px solid $border-color;
  border-radius: $border-radius;
  background: $bg-color-lighter;
}

.bracket-lines {
  display: flex;
  align-items: center;
  width: 100%;
  flex-grow: 2;
  flex-basis: 2px;

  > * {
    flex-basis: 0;
    flex-grow: 1;
  }
}

.outgoing-lines {
  border: 1px solid $border-color;
  border-left: 0;
  height: 100%;
}

.bracket-gap {
  flex-grow: 2;
  flex-basis: 0;
}

.bracket-end-gap {
  flex-grow: 1;
  flex-basis: 0;
}
