@use '../vars' as *;
@use 'Bracket.module' as bracket;
@use 'Format.module' as format;

$upper-bracket-height: bracket.$header-height + 8 *
  (format.$match-height + bracket.$match-gap);
$lower-bracket-height: ($upper-bracket-height + bracket.$header-height) / 2;
$vertical-gap: 20px;

.double-elim {
  display: flex;
  align-items: stretch;
  font-size: 10pt;
}

.upper-bracket {
  margin-bottom: $vertical-gap;
}

.grand-final-column {
  width: bracket.$match-width + format.$team-height;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.grand-final-match {
  position: absolute;
  top: (
      1.5 * $upper-bracket-height + $vertical-gap + $lower-bracket-height / 2 +
        bracket.$header-height
    ) / 2;
  transform: translateY(-50%);
}

.grand-final-lines {
  display: flex;
  flex-direction: column;
  width: bracket.$horizontal-gap;
  margin-top: (bracket.$header-height + $upper-bracket-height) / 2 - 0.5px;
  margin-bottom: ($lower-bracket-height - bracket.$header-height) / 2 - 0.5px;
}
