@use '../vars' as *;

$team-height: 25px;
$match-height: 2 * $team-height + 1px;

.team-container {
  height: $team-height;
  display: flex;

  &.reversed {
    flex-direction: row-reverse;
  }
}

.team {
  width: 175px;
  display: flex;
  align-items: center;

  img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
  }
}

.team-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.team-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  width: 15px;
  height: 15px;
}

.score {
  flex-shrink: 0;
  border: 0;
  width: $team-height;
  height: 100%;
  cursor: pointer;
  caret-color: transparent;
  user-select: none;
  appearance: none;
  color: inherit;
  background: $bg-color-light;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1em;
  font-size: 12pt;

  &[disabled] {
    cursor: default;
  }

  &:focus {
    outline: 2px solid $accent-color;
    z-index: 100;
  }
}

.max-score {
  font-weight: bolder;
}
