@use '../vars' as *;

$team-height: 25px;
$team-height-big: 30px;
$match-height: 2 * $team-height + 1px;

.team-container {
  display: flex;

  &.qualified {
    .team {
      background: $bg-color-lighter-green;
      outline: 2px solid $border-color-green;
      z-index: 1;
    }

    .score {
      background: $bg-color-light-green;
    }
  }

  &.reversed {
    flex-direction: row-reverse;
  }
}

.team {
  width: 175px;
  height: $team-height;
  display: flex;
  align-items: center;

  &.big {
    width: 200px;
    height: $team-height-big;

    .team-logo-container {
      width: $team-height-big - 8px;
      height: $team-height-big - 8px;
    }
  }

  img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
  }
}

.team-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.team-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 6px 0 4px;
  width: $team-height - 8px;
  height: $team-height - 8px;
}

.score {
  flex-shrink: 0;
  border: 0;
  width: $team-height;
  height: $team-height;
  cursor: pointer;
  caret-color: transparent;
  user-select: none;
  appearance: none;
  color: inherit;
  background: $bg-color-light;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1em;
  font-size: 12pt;

  &.big {
    width: $team-height-big;
    height: $team-height-big;
    font-size: 14pt;
  }

  &[disabled] {
    cursor: default;
  }

  &:focus {
    outline: 2px solid $accent-color;
    z-index: 100;
  }
}

.max-score {
  font-weight: bolder;
}

:export {
  teamHeight: $team-height;
  teamHeightBig: $team-height-big;
}
