@use '../vars' as *;

$swiss-padding: $root-padding;

.swiss-container {
  display: flex;
}

.swiss {
  display: flex;
  justify-content: space-evenly;
  max-width: 1650px;
  flex-wrap: wrap;
  margin-bottom: 0;
}

.round {
  padding: $swiss-padding;
}

.round-header {
  size: 24pt;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.match-list {
  border: 1px solid $border-color;
  border-radius: $border-radius;
  background: $bg-color-lighter;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  > *:not(:last-child) {
    border-bottom: 1px solid $border-color;
  }
}

.match-list-header {
  border-radius: $border-radius $border-radius 0 0;
  background: $bg-color-light;
  height: 1.25em;
  line-height: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.match {
  display: flex;
}
