@use '../vars' as *;

.groups-container {
  display: flex;
  width: min(100vw, 1650px);
}

.groups {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-grow: 1;
}

.group {
  padding: $root-padding;
}

.group-title {
  margin-bottom: 1em;
}

.upper-bracket {
  margin-bottom: $root-padding;
}
