.groups {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  min-width: 100vw;
  max-width: 1600px;
}

.group {
  padding: 20px 30px;
}

.group-title {
  margin-bottom: 1em;
}

.upper-bracket {
  margin-bottom: 20px;
}

.playoffs {
  width: 100vw;
  height: 100vh;
  max-width: 1000px;
  max-height: 500px;
  padding: 20px;
}
