.groups {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  min-width: min(100vw, 1650px);
  margin: 0 -20px;
}

.group {
  padding: 20px 20px;
}

.group-title {
  margin-bottom: 1em;
}

.upper-bracket {
  margin-bottom: 20px;
}
