$main-color: #d6d6d6;
$main-bg-color: #303030;
$bg-color-light: #404040;
$bg-color-light-green: #263926;
$bg-color-lighter: #4c4c4c;
$bg-color-lighter-green: #3b4b3c;
$border-color: #818181;
$border-color-green: #438146;
$accent-color: #fca924;
$border-radius: 5px;
