@use 'vars' as *;

.controls {
  position: sticky;
  display: inline-flex;
  padding: 10px;
  background: $main-bg-color;
  border-radius: $border-radius;
  bottom: 5px;
  left: 5px;
  margin: 0 -10px;

  button {
    background: $bg-color-light;
    color: $main-color;
    font-size: 12pt;
    padding: 0.6em 0.8em;
    appearance: none;
    cursor: pointer;
    border: none;
    border-radius: $border-radius;
    line-height: 1em;
    display: inline-flex;
    align-items: center;

    &:disabled {
      cursor: default;
    }

    &:not(:last-child) {
      margin-right: 12px;
    }

    &:not(:disabled):hover,
    &:not(:disabled):active {
      background: $bg-color-lighter;
    }
  }
}

.spinner {
  z-index: -1;
  position: absolute;
  width: 30px;
  height: 30px;
  font-size: 12pt;
  margin: 0.6em 0.8em;
  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: center center;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

:export {
  mainBgColor: $main-bg-color;
}