@import 'vars';

$upper-bracket-height: calc(51px * 8 + 15px * 8);
$lower-bracket-height: calc($upper-bracket-height / 2);
$bracket-header-height: 40px;
$bracket-gap: 40px;

.bracket {
  display: flex;
  align-items: stretch;
  font-size: 10pt;
}

.bracket hr {
  border: none;
  height: 1px;
  background: $border-color;
  margin: 0;
}

.column {
  display: grid;
  grid-template-rows: $bracket-header-height $upper-bracket-height 20px $bracket-header-height $lower-bracket-height;
}

.inner-column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-width: $bracket-gap;
}

.column-header {
  width: 200px;
  height: 2rem;
  background: $bg-color-lighter;
  line-height: 1rem;
  text-align: center;
  padding-top: 0.5rem;
}

.grand-final-column {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.grand-final-column .column-header {
  width: 225px;
}

.grand-final-column .match {
  position: absolute;
  /* (40px + ub / 2 + 40px + ub + 20px + 40px + lb / 2) / 2 */
  top: calc(($upper-bracket-height * 1.5 + $bracket-header-height * 3 + 20px + $lower-bracket-height / 2) / 2);
  transform: translateY(-50%);
}

.match {
  outline: 1px solid $border-color;
  background: $bg-color-lighter;
}

.team-container {
  height: 25px;
  display: flex;
}

.team {
  width: 175px;
  display: flex;
  align-items: center;
}

.team-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.team-logo-container {
  margin: 5px;
  width: 15px;
  height: 15px;
}

.team img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.score {
  flex-shrink: 0;
  border: 0;
  border-left: 1px solid $border-color;
  width: 25px;
  height: 100%;
  cursor: pointer;
  appearance: none;
  background: $bg-color-light;
  color: inherit;
  text-align: center;
  font-size: 12pt;
}

.score[disabled] {
  cursor: default;
}

.score:first-of-type {
  margin-left: auto;
}

.max-score {
  font-weight: bolder;
}

.bracket-gap {
  flex-grow: 2;
  flex-basis: 0;
}

.bracket-end-gap {
  flex-grow: 1;
  flex-basis: 0;
}

.bracket-lines {
  display: flex;
  align-items: center;
  width: 100%;
  flex-grow: 2;
  flex-basis: 2px;
}

.bracket-lines>* {
  flex-basis: 0;
  flex-grow: 1;
}

.outgoing-lines {
  border: 1px solid $border-color;
  border-left: 0;
  height: 100%;
}

.grand-final-lines {
  display: flex;
  flex-direction: column;
  width: $bracket-gap;
}

.grand-final-lines .bracket-lines {
  margin-top: calc($bracket-header-height + $upper-bracket-height / 2 - 0.5px);
  margin-bottom: calc($lower-bracket-height / 2 - 0.5px);
  flex-grow: 1;
}