.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: fit-content;
}

.content {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.footer {
  width: 100%;
  padding: 1rem;
  text-align: center;
}