@import 'vars';

.container {
  min-height: 100vh;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
}

.content {
  position: relative;
  padding: 20px 20px 0 20px;
  flex-grow: 1;
}

.controls {
  position: sticky;
  display: inline-flex;
  padding: 10px;
  background: $main-bg-color;
  border-radius: 5px;
  bottom: 5px;
  left: 5px;
  margin-left: -1px;
}

.controls button {
  background: $bg-color-light;
  color: $main-color;
  font-size: 12pt;
  padding: 0.6em 0.8em;
  appearance: none;
  cursor: pointer;
  border: none; // border: 1px solid $border-color;
  border-radius: 5px;
  line-height: 1em;
  display: inline-flex;
  align-items: center;
}

.controls button:disabled {
  cursor: default;
}

.controls button:not(:last-child) {
  margin-right: 10px;
}

.controls button:not(:disabled):hover,
.controls button:not(:disabled):active {
  background: $bg-color-lighter;
}

.spinner {
  z-index: -1;
  position: absolute;
  width: 30px;
  height: 30px;
  font-size: 12pt;
  margin: 0.6em 0.8em;
  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: center center;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.footer {
  width: 100%;
  padding: 1rem;
  text-align: center;
}

:export {
  mainBgColor: $main-bg-color;
}