@use 'vars' as *;

.container {
  min-height: 100vh;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
}

.content {
  position: relative;
  flex-grow: 1;
  padding: 0 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  padding: 1rem;
  text-align: center;
}
